.num{
    height: 3rem;
    text-align: center;
    width: fit-content;
    margin: 4vw;
}
.num:hover{
    border: solid;
}
button{
    width: 7vw;
    background: orange;
    border: 2px solid orange;
    border-radius: 50px;
    height: 7vh;
    margin: 4vh;
}
body{
    background: #000;
    color: white;
}